{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
	<div class="page-header">
		<h1>Multilingual word suggestion system</h1>
	</div>
	
	{% if synset %}
	<div class="row">
		<div class="col-md-12">
			<form action="/post" method="post" class="form-horizontal">
			<h3>Select intended meanings of "{{word_in}}" and push "Suggest words" button.</h3>
			<div class="form-group">
				<div class="col-xs-offset-0 col-xs-12">
					<button type="submit" name="action" value="suggest" class="btn btn-default">Suggest words</button>
				</div>
			</div>
			{% autoescape false %}
			{{synset}}
			{% endautoescape %}
			</form>
		
		</div>
	</div>
	{% endif %}
  </div>
</div>
{% endblock %}

<!--
        <p class="lead">
          {% if name %}
			こんにちは {{ name }} さん
          {% else %}
            
          {% endif %}
		  
        </p>
-->