<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script>
        jQuery(function($){
            $("#foo-table").dataTable();
        });
    </script>
    <title></title>
</head>
<body>
    <table id="foo-table" class="table table-bordered">
        <thead>
            <tr><th>No</th><th>都道府県</th></tr>
        </thead>
        <tbody>
            <tr><td>1</td><td>北海道</td></tr>
            <tr><td>2</td><td>青森県</td></tr>
            <tr><td>3</td><td>岩手県</td></tr>
            <tr><td>4</td><td>宮城県</td></tr>
            <tr><td>5</td><td>秋田県</td></tr>
            <tr><td>6</td><td>山形県</td></tr>
            <tr><td>7</td><td>福島県</td></tr>
            <tr><td>8</td><td>茨城県</td></tr>
            <tr><td>9</td><td>栃木県</td></tr>
            <tr><td>10</td><td>群馬県</td></tr>
            <tr><td>47</td><td>沖縄県</td></tr>
        </tbody>
    </table>
</body>
</html>